* {
	margin: 0;
	padding: 0;
}

#que {
	font-size: 0;
	height: 300px;
}

#que > li {

	display: inline-block;
	list-style-type: none;
	width: 12px;
	height: 300px;
	background-color: red;
	margin: 1px;
	margin-bottom: -100px;
	/*float: left;*/
}

input {
	margin: 8px;
}

