* {
	margin: 0;
	padding: 0;
}

div {
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	margin: auto;
	background-color: white;
	margin-right: 5px;
}

#flex1 {
	width: 900px;
	height: 160px;
	margin: auto;
	margin-top: 10px;
}

#flex2 {
	height: 130px;
}

#flex3 {
	height: 100px;
}

#flex4 {
	height: 70px;
}

#flex5 {
	height: 70px;
}
