* {
	margin: 0;
	padding: 0;
}

div {
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	margin: auto;
	background-color: white;
}

#flex1 {
	width: 600px;
	height: 160px;
	margin-top: 10px;
}

#flex2 {
	width: 280px;
	height: 130px;
}

#flex3 {
	width: 130px;
	height: 100px;
}

#flex4 {
	width: 60px;
	height: 70px;
}
